<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtlasSSH" version="3.6.1" targetFramework="net462" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net461" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net461" />
  <package id="DNS" version="1.2.3" targetFramework="net461" />
  <package id="LINQToTTree-Head" version="0.51.0-build531" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NVelocity" version="1.0.3" targetFramework="net461" />
  <package id="Polly" version="5.3.1" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.0.3-x-009-160302-230435" targetFramework="net461" />
  <package id="ROOT.NET.Core" version="5.34.36.13" targetFramework="net461" />
  <package id="ROOT.NET.Dynamic" version="5.34.36.13" targetFramework="net461" />
  <package id="ROOT.NET.Graphing" version="5.34.36.13" targetFramework="net461" />
  <package id="ROOT.NET.PROOF" version="5.34.36.13" targetFramework="net461" />
  <package id="ROOT.NET.Tree" version="5.34.36.13" targetFramework="net461" />
  <package id="Sprache" version="2.1.0" targetFramework="net461" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net462" />
  <package id="System.Console" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net462" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net462" />
  <package id="System.IO" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq" version="4.3.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>